In [ ]:
#
# 
#

In [ ]:
#
# Following has to do with setting up the initial SQL database
#

"""
# Create the DB -- Going forward you're in sqlite
```commandline
sqlite3 mta.db
```
​
# Create the table
```sql
CREATE TABLE mta_data (
	CA TEXT,
	UNIT TEXT,
	SCP TEXT,
	STATION TEXT,
	LINENAME TEXT,
	DIVISION TEXT,
	DATE TEXT,
	TIME TEXT,
	DESC TEXT,
	ENTRIES INTEGER,
	EXITS INTEGER,
	PRIMARY KEY (CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS)
	);
```
​
​
# Try inserting one row of data into the table
```sql
INSERT INTO mta_data (
	CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS)
	VALUES ('A002','R051','02-00-00','59 ST','NQR456W','BMT','03/06/2021','03:00:00','REGULAR',0007540642,0002572027);
```
​
# Try inserting an entire txt file -- note; that one row already inserted will be duplicated
```sql
.mode csv
.import data/turnstile_210313.txt mta_data
```
"""

In [3]:
#
# Use python to download the desired MTA txt files into the data directory
#
import urllib.request

url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
week_nums = [210206, 210213, 210220, 210227, 210306, 190202, 190209, 190216, 190223,
190302, 190309]

for week_num in week_nums:
    urllib.request.urlretrieve(f"http://web.mta.info/developers/data/nyct/turnstile/turnstile_{week_num}.txt",
                               f"data/turnstile_{week_num}.txt")

In [ ]:
#
# Combine multiple text files into a single CSV
#

# Combine them into one big csv to load into sqlite 
```commandline
 head -1 turnstile_210313.txt > all_combined.csv
 tail -n +2 -q *.txt >> all_combined.csv
```

In [ ]:
 
# Go back to sqlite tab; load the big csv into sqlite
```sql
.import data/all_combined.csv mta_data 
```
​
# Now to extract to pandas using sqlalchemy
```python
from sqlalchemy import create_engine
import pandas as pd
​
engine = create_engine("sqlite:///mta.db")
all_data = pd.read_sql('SELECT * FROM mta_data;', engine)

In [ ]:
# Create the DB -- Going forward you're in sqlite
```commandline
sqlite3 mta.db
```
​
# Create the table
```sql
CREATE TABLE mta_data (
	CA TEXT,
	UNIT TEXT,
	SCP TEXT,
	STATION TEXT,
	LINENAME TEXT,
	DIVISION TEXT,
	DATE TEXT,
	TIME TEXT,
	DESC TEXT,
	ENTRIES INTEGER,
	EXITS INTEGER,
	PRIMARY KEY (CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS)
	);
```
​
​
# Try inserting one row of data into the table
```sql
INSERT INTO mta_data (
	CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS)
	VALUES ('A002','R051','02-00-00','59 ST','NQR456W','BMT','03/06/2021','03:00:00','REGULAR',0007540642,0002572027);
```
​
# Try inserting an entire txt file -- note; that one row already inserted will be duplicated
```sql
.mode csv
.import data/turnstile_210313.txt mta_data
```

In [1]:
%pwd

'/Users/vickaul/Documents/Git/Metis-Projects/MTA-Project'

In [5]:
import pandas as pd

In [ ]:
x = pd.read_csv